<form action="/" method="POST">
    <h2 class="text-center mt-5">Login</h2>
    <hr>
    <div class="mb-3 mt-5">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="Password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password1" name="password">
    </div>
    <div class="text-center my-5">
        <button type="submit" class="btn btn-light">Login</button>
    </div>
</form>